.bg{
    background-color: rgb(228, 198, 255);
}
.name{
    color: white;
    display: flex;
    justify-content: center;
}

.random{
    margin-top: 50px;
    margin: 10px;
}

.header{
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
    color: white;

}

.five{
    color: white;
    display: flex;
    justify-content: center;
}

.input-name{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}